@media print {
  body {
    background: white;
  }

  .print\:hidden {
    display: none !important;
  }

  .topbar {
    display: none !important;
  }

  .no-print {
    display: none !important;
  }

  @page {
    size: A4;
    margin: 0mm;
  }
  html, body { margin: 0; padding: 0; }
}

